.App {
  background-color: whitesmoke;
  padding: 0 2rem;
}

ul > li {
  list-style-type: none;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.main {
  min-height: 70vh;
}

table{
  width: 100%;
}

th, td {
  text-align: center;
  border: 2px solid #ccc;
  padding: 1rem;
}

.toggle-btn,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.toggle-btn > button {
  width: 40%;
  padding: 1rem;
  border: none;
  background-color: aquamarine;
  border-radius: 2rem;
  font-size: 2rem;
}

.employed {
  color: rgb(10, 154, 106);
}

.unemployed {
  color: red;
}

.delete{
  background-color: red;
  padding: 0.7rem;
  color: white;
  border-radius: 0.5rem;
}

input, 
select,
.submit-btn,
.reset-btn {
  margin: 2rem;
  height: 2rem;
  background-color: #e7e4e4;
  border: none;
  border-radius: 0.2rem;
}

.submit-btn {
  color: white;
  background-color: rgb(0, 26, 255);
}

.reset-btn {
  background-color: burlywood;
  padding: 0.5rem;
}