.App {
  background-color: whitesmoke;
  padding: 0 2rem;
}

ul > li {
  list-style-type: none;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.main {
  min-height: 70vh;
}

table{
  width: 100%;
}

th, td {
  text-align: center;
  border: 2px solid #ccc;
  padding: 1rem;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.toggle-btn > button {
  width: 40%;
  padding: 1rem;
  border: none;
  background-color: aquamarine;
  border-radius: 2rem;
  font-size: 2rem;
}